In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df = pd.read_csv("./NVDA.csv")

In [4]:
df

,Date,Open,High,Low,Close,Adj Close,Volume
0,2000-01-03,0.984375,0.992188,0.919271,0.975260,0.894608,30091200
1,2000-01-04,0.958333,0.960938,0.901042,0.949219,0.870721,30048000
2,2000-01-05,0.921875,0.937500,0.904948,0.917969,0.842055,18835200
3,2000-01-06,0.917969,0.917969,0.822917,0.858073,0.787112,12048000
4,2000-01-07,0.854167,0.881510,0.841146,0.872396,0.800251,7118400
...,...,...,...,...,...,...,...
6111,2024-04-18,849.700012,861.900024,824.020020,846.710022,846.710022,44726000
6112,2024-04-19,831.500000,843.239990,756.059998,762.000000,762.000000,87190500
6113,2024-04-22,781.039978,800.729980,764.000000,795.179993,795.179993,59634100
6114,2024-04-23,807.690002,827.690002,802.640015,824.229980,824.229980,43855900
6115,2024-04-24,839.500000,840.820007,791.830017,796.770020,796.770020,50961600

In [5]:
df.describe()

,Open,High,Low,Close,Adj Close,Volume
count,6116.000000,6116.000000,6116.000000,6116.000000,6116.000000,6.116000e+03
mean,53.052266,54.017201,52.031700,53.064741,52.794253,6.221933e+07
std,121.267334,123.423982,118.835114,121.183234,121.214864,4.316714e+07
min,0.608333,0.656667,0.600000,0.614167,0.563377,4.564400e+06
25%,2.959688,3.027500,2.875000,2.950391,2.707880,3.615840e+07
50%,4.683750,4.747500,4.608750,4.682500,4.389289,5.206235e+07
75%,42.101873,42.645625,41.500000,42.102499,41.741090,7.465490e+07
max,958.510010,974.000000,935.099976,950.020020,950.020020,9.230856e+08

In [ ]:
df.isna().sum()

Date         0
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64

In [7]:
# So there are zero null values in the dataset.

In [8]:
# Lets see if there are any non numeric values in the dataset.
df.select_dtypes(include=['object']).nunique()

Date    6116
dtype: int64

In [9]:
# Alright, so there are no non-numeric values in the dataset.

In [10]:
# Now we will check for any duplicate rows in the dataset.
df.duplicated().sum()

0

In [13]:
# So zero duplicate rows in the dataset.
# Now we can see that the datatype of the 'Date' column is object, we will convert it to datetime format.
df['Date'] = pd.to_datetime(df['Date'])
# Now we will set the 'Date' column as the index of the dataframe.
df.set_index('Date', inplace=True)
# Now we will check the datatype of the 'Date' column again.
df.dtypes

Open         float64
High         float64
Low          float64
Close        float64
Adj Close    float64
Volume         int64
dtype: object

In [14]:
df.head()

                Open      High       Low     Close  Adj Close    Volume
Date
2000-01-03  0.984375  0.992188  0.919271  0.975260   0.894608  30091200
2000-01-04  0.958333  0.960938  0.901042  0.949219   0.870721  30048000
2000-01-05  0.921875  0.937500  0.904948  0.917969   0.842055  18835200
2000-01-06  0.917969  0.917969  0.822917  0.858073   0.787112  12048000
2000-01-07  0.854167  0.881510  0.841146  0.872396   0.800251   7118400

In [15]:
# So going through the dataset, we can see that the data is already clean and ready for analysis. So we can proceed with visualization and analysis.